## Requirements

In [1]:
pip install mysql-connector

Requirement already satisfied: mysql-connector in /opt/conda/lib/python3.8/site-packages (2.2.9)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.8/site-packages (1.2.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/conda/lib/python3.8/site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in /opt/conda/lib/python3.8/site-packages (from pandas) (2020.5)
Requirement already satisfied: numpy>=1.16.5 in /opt/conda/lib/python3.8/site-packages (from pandas) (1.19.5)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

## Extract

In [4]:
import pandas as pd

df = pd.read_csv('country_vaccinations.csv', 
                 dtype={"total_vaccinations": "Int64", 
                        "people_vaccinated": "Int64", 
                        "people_fully_vaccinated": "Int64", 
                        "daily_vaccinations": "Int64", 
                        "daily_vaccinations_per_million": "Int64"}, encoding='utf-8')
df

,country,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million,vaccines,source_name,source_website
0,Argentina,ARG,12/29/20,700,<NA>,<NA>,NaN,<NA>,0.00,NaN,NaN,<NA>,Sputnik V,Ministry of Health,http://datos.salud.gob.ar/dataset/vacunas-cont...
1,Argentina,ARG,12/30/20,<NA>,<NA>,<NA>,NaN,15656,NaN,NaN,NaN,346,Sputnik V,Ministry of Health,http://datos.salud.gob.ar/dataset/vacunas-cont...
2,Argentina,ARG,12/31/20,32013,<NA>,<NA>,NaN,15656,0.07,NaN,NaN,346,Sputnik V,Ministry of Health,http://datos.salud.gob.ar/dataset/vacunas-cont...
3,Argentina,ARG,1/1/21,<NA>,<NA>,<NA>,NaN,11070,NaN,NaN,NaN,245,Sputnik V,Ministry of Health,http://datos.salud.gob.ar/dataset/vacunas-cont...
4,Argentina,ARG,1/2/21,<NA>,<NA>,<NA>,NaN,8776,NaN,NaN,NaN,194,Sputnik V,Ministry of Health,http://datos.salud.gob.ar/dataset/vacunas-cont...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1422,Wales,NaN,1/19/21,176186,175816,370,13989.0,10672,5.59,5.58,0.01,3385,"Oxford/AstraZeneca, Pfizer/BioNTech",Government of the United Kingdom,https://coronavirus.data.gov.uk/details/health...
1423,Wales,NaN,1/20/21,190831,190435,396,14645.0,11105,6.05,6.04,0.01,3522,"Oxford/AstraZeneca, Pfizer/BioNTech",Government of the United Kingdom,https://coronavirus.data.gov.uk/details/health...
1424,Wales,NaN,1/21/21,212732,212317,415,21901.0,12318,6.75,6.73,0.01,3907,"Oxford/AstraZeneca, Pfizer/BioNTech",Government of the United Kingdom,https://coronavirus.data.gov.uk/details/health...
1425,Wales,NaN,1/22/21,241016,240547,469,28284.0,15148,7.64,7.63,0.01,4804,"Oxford/AstraZeneca, Pfizer/BioNTech",Government of the United Kingdom,https://coronavirus.data.gov.uk/details/health...
1426,Wales,NaN,1/23/21,265054,264538,516,24038.0,17371,8.41,8.39,0.02,5510,"Oxford/AstraZeneca, Pfizer/BioNTech",Government of the United Kingdom,https://coronavirus.data.gov.uk/details/health...

In [5]:
df.loc[df.source_website == 'Kuwait', ['source_website']]

Empty DataFrame
Columns: [source_website]
Index: []

In [6]:
df.dtypes

country                                 object
iso_code                                object
date                                    object
total_vaccinations                       Int64
people_vaccinated                        Int64
people_fully_vaccinated                  Int64
daily_vaccinations_raw                 float64
daily_vaccinations                       Int64
total_vaccinations_per_hundred         float64
people_vaccinated_per_hundred          float64
people_fully_vaccinated_per_hundred    float64
daily_vaccinations_per_million           Int64
vaccines                                object
source_name                             object
source_website                          object
dtype: object

## Load

In [7]:
from sqlalchemy import create_engine

source = create_engine('mysql+mysqlconnector://test:test123@db/test')

In [8]:
df.to_sql('vaccinations_per_country', con=source, schema='test', if_exists='append',index=False)

In [9]:
print(pd.io.sql.get_schema(df.reset_index(), 'test.vacinations_per_country', con=source))

CREATE TABLE `test.vacinations_per_country` (
	`index` BIGINT,
	country TEXT,
	iso_code TEXT,
	date TEXT,
	total_vaccinations BIGINT,
	people_vaccinated BIGINT,
	people_fully_vaccinated BIGINT,
	daily_vaccinations_raw FLOAT(53),
	daily_vaccinations BIGINT,
	total_vaccinations_per_hundred FLOAT(53),
	people_vaccinated_per_hundred FLOAT(53),
	people_fully_vaccinated_per_hundred FLOAT(53),
	daily_vaccinations_per_million BIGINT,
	vaccines TEXT,
	source_name TEXT,
	source_website TEXT
)