In [1]:
pip install pyarrow

Requirement already satisfied: pyarrow in /opt/conda/lib/python3.8/site-packages (3.0.0)
Requirement already satisfied: numpy>=1.16.6 in /opt/conda/lib/python3.8/site-packages (from pyarrow) (1.19.5)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

## Extract

In [3]:
df=pd.read_parquet('data.parquet', engine='pyarrow')
df

,vendor_id,pickup_at,dropoff_at,passenger_count,trip_distance,rate_code_id,store_and_fwd_flag,pickup_location_id,dropoff_location_id,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2019-06-01 00:55:13,2019-06-01 00:56:17,1,0.00,1,N,145,145,2,3.0,0.5,0.5,0.00,0.0,0.3,4.300000,0.0
1,1,2019-06-01 00:06:31,2019-06-01 00:06:52,1,0.00,1,N,262,263,2,2.5,3.0,0.5,0.00,0.0,0.3,6.300000,2.5
2,1,2019-06-01 00:17:05,2019-06-01 00:36:38,1,4.40,1,N,74,7,2,17.5,0.5,0.5,0.00,0.0,0.3,18.799999,0.0
3,1,2019-06-01 00:59:02,2019-06-01 00:59:12,0,0.80,1,N,145,145,2,2.5,1.0,0.5,0.00,0.0,0.3,4.300000,0.0
4,1,2019-06-01 00:03:25,2019-06-01 00:15:42,1,1.70,1,N,113,148,1,9.5,3.0,0.5,2.65,0.0,0.3,15.950000,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6941019,1,2019-06-30 23:23:03,2019-06-30 23:39:48,1,0.90,1,N,68,158,1,11.0,3.0,0.5,2.00,0.0,0.3,16.799999,2.5
6941020,1,2019-06-30 23:50:22,2019-06-30 23:57:01,1,0.50,1,N,246,90,2,6.0,3.0,0.5,0.00,0.0,0.3,9.800000,2.5
6941021,1,2019-06-30 23:58:32,2019-07-01 00:00:42,1,0.20,1,N,90,186,1,3.5,3.0,0.5,1.45,0.0,0.3,8.750000,2.5
6941022,2,2019-06-30 23:23:10,2019-06-30 23:30:45,1,1.38,1,N,140,163,1,7.5,0.5,0.5,2.26,0.0,0.3,13.560000,2.5
6941023,2,2019-06-30 23:39:13,2019-06-30 23:44:56,2,1.77,1,N,142,151,1,7.0,0.5,0.5,1.00,0.0,0.3,11.800000,2.5

## Transform

In [4]:
df.dtypes

vendor_id                        object
pickup_at                datetime64[ns]
dropoff_at               datetime64[ns]
passenger_count                    int8
trip_distance                   float32
rate_code_id                     object
store_and_fwd_flag               object
pickup_location_id                int32
dropoff_location_id               int32
payment_type                     object
fare_amount                     float32
extra                           float32
mta_tax                         float32
tip_amount                      float32
tolls_amount                    float32
improvement_surcharge           float32
total_amount                    float32
congestion_surcharge            float32
dtype: object

In [5]:
df.memory_usage(index=False, deep=True)

vendor_id                402579392
pickup_at                 55528192
dropoff_at                55528192
passenger_count            6941024
trip_distance             27764096
rate_code_id             402579697
store_and_fwd_flag       402579392
pickup_location_id        27764096
dropoff_location_id       27764096
payment_type             402579392
fare_amount               27764096
extra                     27764096
mta_tax                   27764096
tip_amount                27764096
tolls_amount              27764096
improvement_surcharge     27764096
total_amount              27764096
congestion_surcharge      27764096
dtype: int64

In [6]:
df.memory_usage(index=False, deep=True).sum()

2033720337

In [7]:
df.max()

vendor_id                                  4
pickup_at                2019-10-30 10:20:13
dropoff_at               2019-10-30 10:30:26
passenger_count                            9
trip_distance                    45977.21875
rate_code_id                              99
store_and_fwd_flag                         Y
pickup_location_id                       265
dropoff_location_id                      265
payment_type                               4
fare_amount                         346950.0
extra                              84.760002
mta_tax                           212.419998
tip_amount                       1624.640015
tolls_amount                           823.0
improvement_surcharge                    0.3
total_amount                     347035.0625
congestion_surcharge                    2.75
dtype: object

In [8]:
df["vendor_id"] = df.vendor_id.astype(dtype="int8")
df["rate_code_id"] = df.rate_code_id.astype(dtype="int8")
df["pickup_location_id"] = df.pickup_location_id.astype(dtype="int8")
df["dropoff_location_id"] = df.dropoff_location_id.astype(dtype="int8")
df["store_and_fwd_flag"] = df.store_and_fwd_flag.astype(dtype="string")
df["payment_type"] = df.payment_type.astype(dtype="int8")
df["extra"] = df.extra.astype(dtype="float16")
df["fare_amount"] = df.fare_amount.astype(dtype="float16")
df["mta_tax"] = df.mta_tax.astype(dtype="float16")
df["tip_amount"] = df.tip_amount.astype(dtype="float16")
df["tolls_amount"] = df.tolls_amount.astype(dtype="float16")
df["improvement_surcharge"] = df.improvement_surcharge.astype(dtype="float16")
df["congestion_surcharge"] = df.congestion_surcharge.astype(dtype="float16")

In [9]:
df.dtypes

vendor_id                          int8
pickup_at                datetime64[ns]
dropoff_at               datetime64[ns]
passenger_count                    int8
trip_distance                   float32
rate_code_id                       int8
store_and_fwd_flag               string
pickup_location_id                 int8
dropoff_location_id                int8
payment_type                       int8
fare_amount                     float16
extra                           float16
mta_tax                         float16
tip_amount                      float16
tolls_amount                    float16
improvement_surcharge           float16
total_amount                    float32
congestion_surcharge            float16
dtype: object

In [10]:
df.memory_usage(index=False, deep=True).sum()

707984448

## Load

In [11]:
from sqlalchemy import create_engine

source = create_engine('mysql+mysqlconnector://test:test123@db/test')

In [12]:
# df.to_sql('data', con=source, schema='test', if_exists='fail',index=False,chunksize=10000)

In [14]:
print(pd.io.sql.get_schema(df.reset_index(), 'test.data', con=source))

CREATE TABLE `test.data` (
	`index` BIGINT,
	vendor_id BIGINT,
	pickup_at DATETIME,
	dropoff_at DATETIME,
	passenger_count BIGINT,
	trip_distance FLOAT(23),
	rate_code_id BIGINT,
	store_and_fwd_flag TEXT,
	pickup_location_id BIGINT,
	dropoff_location_id BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(23),
	congestion_surcharge FLOAT(53)
)